*{
    margin:0px;
    padding:0px;
    color:white;
}
.b_image{
   height:100vh;
  
   background-image:radial-gradient(rgba(8, 7, 7, 0.656),rgba(4, 4, 4, 0.908)), url("software_photo.jpeg") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.nav{
    display:flex;
    justify-content: flex-end;
}
 .navbar{
    padding:15px;
    font-size:1.3rem;
}
.search{
    border-radius:6px;
    border:none;
    text-align: center;
    font-size: 1.5rem;
    height: auto;
}
.navbar a{
    margin:6px;
    text-decoration: none;
    color:white;
}
.navbar a:hover{
    background-color:grey;
}
.text{
    color:white;
}
.quotes{
    font-size: 1.2rem;
    
}
.quotes:hover{
    font-size: 1.4rem;
    color:aqua;
    
}
label{
    color:white;
    font-size: 1.5rem;
    
}
.content{
    padding-top:80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn{
   border-radius: 4px;
   height:30px;
   width:110px;
    background-color: black;
    font-size:1.2rem
   
   
}
.btn:hover{
      background-color:rgb(167, 174, 71);
      
}
.content_3{
   
    text-align: center;
}

.fa-solid fa-user{
              color:white;
}